body {
    background-color: #D2DDFE;
    background-image: url("images/WordItOut-word-cloud-5265254.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

button {
    background-color: #747781;
    border-color: #e9eaec;
    border-style: solid;
    border-radius: .5em;
    color: #f4f4f5;
    flex: 1 1 auto;
    font-weight: bold;
    padding: .5%;
}

#buttons {
    flex-direction: column;
}

#buttons .inactiveButton {
    color: #a6a9b0;
}

#calculator {
    align-items: stretch;
    background-color: #241F25;
    border-radius: .5em;
    flex: 0 1 auto;
    flex-direction: column;
    height: 50vh;
    margin: auto;
    max-width: 300px;
    min-height: 300px;
    padding: .5em;
    width: 60vw;
}

.calculatorDiv {
    align-items: stretch;
    display: flex;
    flex: 1 1 auto;
    gap: .2em;
    justify-content: stretch;
}

.contentHolder {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

#display{
    align-items: center;
    background-color: #d4d5d8;
    border-radius: .5em;
    flex: 1 1 auto;
    height: 25px;
    justify-content: center;
    padding: 5% 0 5% 0;
    width: 100%;
}

#displayText {
    align-items: center;
    color: #18191b;
    display: flex;
    flex: 1 1 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
}

footer {
    background-color: #f4f4f5;
    color: #252832;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    min-width: 100vw;
    padding: .5vh 0 .5vh 0;
    text-align: center;
    width: 100%;
}

#numbers {
    flex-direction: column;
}

.numberButton {
    background-color: #51525d;
    color: #dcdde0;
}

.numberRow .equals {
    background-color: #d98526;
    color: #dcdde0;
}